* {
    margin:  0;
    padding: 0;
    font-family: Arial;
    letter-spacing: .5px;
    box-sizing: border-box;
    overflow: visible;
    background: transparent;
}

footer {
    background-color: #F1F1F1;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    position: absolute;
    text-align: left;
}

.footer-nav {
    display: block;
    background-color: transparent;
    margin: 0 auto;
    padding: 0px;
}

.footer-nav-item {
    display: inline;
    background-color: transparent;
    font-size: 13px;
    padding: 15px;
}
.footer-nav-item a{
    text-decoration: none;
    color: #7E7E7E;
}
.footer-nav-item a:hover{
    text-decoration: underline;
}

.footer-nav-items {
    background-color: transparent;
}



.center {
    margin: 0 auto;
    /*position: relative;*/
    width: 900px;
    padding: 175px;
    text-align: center;
}
#google-drawer-img:hover {
    cursor: pointer;
}
#google-drawer-li {
}
.google-logo-img {
    display: block;
    margin: 0 auto;
}

.google-logo {
    padding-bottom: 30px;
    margin-bottom: -15px;
}

.nav {
    display: block;
    float: right;
    margin: 10px;
    margin-right: 30px;
    vertical-align: center;

}

.nav-item {
    display: inline-grid;
    font-size: 14px;
    top: 50%;
    vertical-align: middle;
    margin: 5px;
    vertical-align: center;
}
.nav-item a{
    text-decoration: none;
    color: #7E7E7E;
}
.nav-item a:hover{
    text-decoration: underline;
}


#microphone-img-container {
    cursor: pointer;
}

#search-bar-box {
    border: 1px solid #e5ece7;
    box-shadow: 0 1px 3px #a9b1ac;
    display: inline-block;
    height: 40px;
    margin: 7px auto;
    position:relative;
    outline: 0;
    width: 100%;

}
#search-bar-box:hover {
    box-shadow: 1px 2px 6px #a9b1ac;
}
#search-bar-box: {
    box-shadow: 1px 2px 6px #a9b1ac;
}

#search-bar-box img {
    background-color: transparent;
    border: none;
    height: 70%;
}

#search-bar-box input {
    border-style: none;
    background-color: transparent;
    font-size: 16px;
    height: 34px;
    line-height: inherit;
    margin: 0 auto;
    position: relative;
    width: 92%;
}

#search-bar-box input:focus {
 outline: none;
}


.search-button {
    background-color: #F1F1F1;
    border: none;
    color: #7E7E7E;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 10em;
    height: 36px;
    font-size: 12px;
    font-weight: bold;
}
.search-button:hover {
    cursor: pointer;
    border: thin solid;
}

.search-buttons {
    position: relative;
    margin: 0 auto;
    padding: 20px 0px;
}

/* A method to space buttons */
.search-buttons button {
    margin-right: 5px;
}
.search-buttons button:last-child{
    margin-right: 0px;
}

.sign-in-btn {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 5.7em;
    height: 30px;
    font-size: 12px;
    font-weight: bolder;

}
